<!DOCTYPE html>
<html>

<head>
    <title>Problems List</title>
</head>

<body style="background-color:cornsilk">
    <h1 style="text-align:center;">Problems </h1>
    <h3>List of the problems :</h3>
    <ul>
        {% for problem in problems %}
        <li>{{problem.id}} &nbsp;<a href="/home/{{problem.id}}/">{{ problem.name }}</a> &nbsp;&nbsp;&nbsp; : &nbsp;{{problem.difficulty}}</li>
        <br>
        {% endfor %}
    </ul>
</body>

<form action="/submit">
    <input type="submit" value="Custom compiler" />
</form>



</html>