<!DOCTYPE html>
<html>



<head>
    <title>Problems List</title>
    <h1 style="color: darkgreen;">Online Judge</h1>
    <body> 
        <div class="container"> 
            <h1> 
        
          <form action="/auth/login">
            <input type="submit" value="Logout" />
        </form>
        </h1> 
        </div> 
    </body> 
</head>




<body style="background-color:cornsilk">
    <h1 style="text-align:center;">Problems </h1>
    <h3>List of the problems :</h3>
    <ul>
        {% for problem in problems %}
        <li>{{problem.id}} &nbsp;<a href="/home/{{problem.id}}/">{{ problem.name }}</a> &nbsp;&nbsp;&nbsp; : &nbsp;{{problem.difficulty}}</li>
        <br>
        {% endfor %}
    </ul>
</body>


    
    <div class="container">
      <div class="vertical-center">
        <form action="/submit">
            <input type="submit" value="Custom compiler" />
        </form>
      </div>
    </div>









</html>