<!DOCTYPE html>
<html>

<head>
    <h1 style="color: darkgreen;">Online Judge</h1>
    <title >{{ problems.name }}</title>
    <h3>{{problem.difficulty}}</h3>
</head>

<body style="background-color:cornsilk">
    <h1 style="text-align:center;">{{ problems.name}}</h1>
    <h2>Problem ID for submission : {{problems.id}}</h2>
    <p>{{ problems.statement }}</p>
    <h3>Sample input</h3>
    <p>{{problems.sample_input}}</p>
    <h3>Sample output</h3>
    <p>{{problems.sample_output}}</p>
   
    
    <form action="/submit/code" style="text-align:center;">
        <input type="submit" value="Submit" />
    </form>
    <br>
    <a href="{% url 'ProblemDisplay' %}">Back to Problems List</a>




</body>

</html>