<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:cornsilk">

    <h1>Submission Result</h1>

    <p><strong>Verdict:</strong>
    {% if solution.verdict == "Accepted" %}   
       <h2 style="color:green">{{ solution.verdict}}</h2>
     {% else %}
       <h2 style="color:red">{{ solution.verdict}}</h2>
      
   
   {% endif %}
    </p>

    </p>

    </p>
    <a href=""></a>

</body>

</html>